<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/servoy.css" rel="stylesheet" />
    <link href="assets/css/app.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>
</head>
<body>
    <header>
        <img src="assets/img/logo.png" />
        <h1>
            AuroraEHR UI Kit
        </h1>
    </header>
    <main>
        <article class="elements">
            <h2>Inline buttons</h2>
            <h5>Buttons</h5>
            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-primary">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-primary">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-success">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-secondary">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-warning">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-error" id="397a60863c72c08268deff2afec1a1fd">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>
            <h2>Button sizes</h2>
            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-secondary tiny">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>
            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-warning small">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>
            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-error large">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>
        </article>
        <article class="elements">
            <h2>Form elements</h2>

            <h5>Straight text textarea</h5>

            <div ng-style="layout.field1" class="svy-wrapper input-format">
                <textarea class="svy-textarea form-control input-sm svy-padding-xs" placeholder="This is a normal textarea"></textarea>
            </div>

            <div ng-style="layout.field1" class="svy-wrapper input-format">
                <textarea class="svy-textarea form-control input-sm svy-padding-xs warning" placeholder="This is a warning textarea"></textarea>
            </div>

            <div ng-style="layout.field1" class="svy-wrapper input-format">
                <textarea class="svy-textarea form-control input-sm svy-padding-xs error" placeholder="This is a erroneous textarea"></textarea>
            </div>
            <h5>Inline text input</h5>
            <div class="input-format svy-wrapper">
                <label class="svy-label ng-scope">
                    <div class="svy-nowrap">
                        <span class="ng-binding">Default Text Field</span>
                    </div>
                </label>
                <input type="text" class="error" placeholder="This is a erroneous input" />
                <button class="svy-btn svy-btn-error small">
                    <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                    <span class="badge-text ng-binding">Messages</span>
                    <span class="badge ng-binding ng-scope">
                        5
                        <span></span>
                    </span>
                </button>
            </div>
            <h5>Block text input</h5>
            <div class="input-format svy-wrapper expand">
                <label class="svy-label ng-scope">
                    <div class="svy-nowrap">
                        <span class="ng-binding">Default Text Field</span>
                    </div>
                </label>
                <input type="text" class="error" placeholder="This is a erroneous input" />
                <button class="svy-btn svy-btn-error">
                    <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                    <span class="badge-text ng-binding">Messages</span>
                    <span class="badge ng-binding ng-scope">
                        5
                        <span></span>
                    </span>
                </button>
            </div>

            <h5>Inline Dropdown</h5>
            <div class="input-format svy-wrapper">
                <label>
                    Select dropdown
                </label>
                <select>
                    <option value="0">Lorem</option>
                    <option value="1">Ipsum</option>
                    <option value="2">Dolor</option>
                    <option value="3">Sit amet</option>
                </select>

                <a class="svy-btn svy-btn-primary" href="#">Search</a>
            </div>
            <h5>Block Dropdown</h5>

            <div class="input-format svy-wrapper expand">
                <label>
                    Select dropdown
                </label>
                <select>
                    <option value="0">Lorem</option>
                    <option value="1">Ipsum</option>
                    <option value="2">Dolor</option>
                    <option value="3">Sit amet</option>
                </select>
                <a class="svy-btn svy-btn-primary" href="#">Search</a>
            </div>
        </article>
        <article class="elements">
            <h2>Block (expand) buttons</h2>
            <h5>Buttons</h5>
            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-primary expand">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-primary expand">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-success expand">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-secondary expand">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-warning expand">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>

            <div ng-style="layout.badge_button" class="svy-wrapper">
                <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                    <div class="bts-extra-badge">
                        <button class="svy-btn svy-btn-error expand" id="397a60863c72c08268deff2afec1a1fd">
                            <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                            <span class="badge-text ng-binding">Messages</span>
                            <span class="badge ng-binding ng-scope">
                                5
                                <span></span>
                            </span>
                        </button>
                    </div>
                </data-bootstrapextracomponents-badge>
            </div>
            <h2>Form control</h2>
            <form>
                <div class="input-format svy-wrapper expand">
                    <label class="svy-label ng-scope">
                        <div class="svy-nowrap">
                            <span class="ng-binding">Username</span>
                        </div>
                    </label>
                    <input type="text" placeholder="Username" />
                </div>

                <div class="input-format svy-wrapper expand">
                    <label class="svy-label ng-scope">
                        <div class="svy-nowrap">
                            <span class="ng-binding"> Enter password</span>
                        </div>
                    </label>
                    <input type="password" placeholder="Enter password" />
                </div>

                <div class="input-format svy-wrapper expand">
                    <label class="svy-label ng-scope">
                        <div class="svy-nowrap">
                            <span class="ng-binding">Re-enter password</span>
                        </div>
                    </label>
                    <input type="password" placeholder="Re-enter password" />
                </div>

                <div class="input-format svy-wrapper expand">
                    <label class="svy-label ng-scope">
                        <div class="svy-nowrap">
                            <span class="ng-binding">Email</span>
                        </div>
                    </label>
                    <input type="email" placeholder="Email" />
                </div>

                <div ng-style="layout.badge_button" class="svy-wrapper">
                    <data-bootstrapextracomponents-badge class="ng-isolate-scope">
                        <div class="bts-extra-badge">
                            <button class="svy-btn svy-btn-success">
                                <span class="badge-icon" ng-class="model.imageStyleClass"></span>
                                <span class="badge-text ng-binding">Sign Up</span>
                            </button>
                        </div>
                    </data-bootstrapextracomponents-badge>
                </div>

            </form>
        </article>

        <article class="elements">
            <h2>Radio group</h2>
            <div ng-style="layout.fldRadios" class="svy-wrapper">
                <div class="svy-radiogroup input-sm svy-padding-xs">
                    <label class="svy-check-radio ng-scope">
                        <input name="radios" type="radio">
                        <span class="ng-binding">Option A</span>
                    </label>
                    <label class="svy-check-radio ng-scope">
                        <input name="radios" type="radio">
                        <span class="ng-binding">Option B</span>
                    </label>
                    <label class="svy-check-radio ng-scope">
                        <input name="radios" type="radio">
                        <span class="ng-binding">Option C</span>
                    </label>
                </div>
            </div>
        </article>

        <article class="elements">
            <h2>Checkbox group</h2>

            <div ng-style="layout.tabs" class="svy-wrapper">
                <data-servoydefault-splitpane name="tabs" data-svy-name="galleryContainer.tabs" svy-model="model.tabs" svy-api="api.tabs" svy-handlers="handlers.tabs" svy-servoyapi="handlers.tabs.svy_servoyApi" class="ng-isolate-scope">
                    <div class="svy-splitpane" sablo-tabseq="model.tabSeq" sablo-tabseq-config="{container: true, reservedGap: 50}" svy-dblclick="handlers.onDoubleClickMethodID($event)">
                        <div class="split-panes vertical" ng-transclude="" orientation="vertical" on-divider-change="onChange()">
                            <div class="split-pane1" ng-transclude="" min-size="model.pane1MinSize" tabloadchecker="split1">
                                <div ng-include="getForm(model.tabs[0])" sablo-tabseq="1" sablo-tabseq-config="{container: true}" class="ng-scope">
                                    <svy-formload formname="tabPanels_Base" class="ng-scope">
                                        <div ng-controller="tabPanels_Base" data-svy-name="tabPanels_Base" svy-formstyle="formStyle" svy-layout-update="" svy-form-class-update="" svy-autosave="" svy-scrollbars="formProperties.scrollbars" class="svy-form ng-scope svy-overflow-auto">
                                            <div ng-style="titleheaderStyle" class="svy-titleheader"></div>
                                            <div ng-style="bodyStyle" class="svy-body">
                                                <div ng-style="layout.tabs" class="svy-wrapper">
                                                    <data-servoydefault-tabpanel name="tabs" data-svy-name="tabPanels_Base.tabs" svy-model="model.tabs" svy-api="api.tabs" svy-handlers="handlers.tabs" svy-servoyapi="handlers.tabs.svy_servoyApi" class="ng-isolate-scope">
                                                        <div svy-border="model.borderType" svy-font="model.fontType">
                                                            <div ng-include="getTemplateUrl()" class="ng-scope">
                                                                <div active="model.activeTabIndex" sablo-tabseq="model.tabSeq" sablo-tabseq-config="{container: true, reservedGap: 50}" class="ng-isolate-scope  svy-tabpanel">
                                                                    <ul class="nav nav-tabs" ng-transclude="">
                                                                        <li class="uib-tab nav-item ng-scope ng-isolate-scope active" select="select(tab)" disabled="disabled">
                                                                            <a href="" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">
                                                                                <uib-tab-heading svy-mnemonic="tab.mnemonic" class="ng-scope">
                                                                                    <img ng-hide="tab.imageMediaID == ''" class="">
                                                                                    <span svy-background="model.background" svy-foreground="tab.foreground == null ? model.foreground : tab.foreground" ng-bind="tab.text" class="ng-binding">Customers</span>
                                                                                </uib-tab-heading>
                                                                            </a>
                                                                        </li>
                                                                        <li class="uib-tab nav-item ng-scope ng-isolate-scope" select="select(tab)" disabled="disabled">
                                                                            <a href="" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">
                                                                                <uib-tab-heading svy-mnemonic="tab.mnemonic" class="ng-scope">
                                                                                    <img ng-hide="tab.imageMediaID == ''" class="">
                                                                                    <span svy-background="model.background" svy-foreground="tab.foreground == null ? model.foreground : tab.foreground" ng-bind="tab.text" class="ng-binding">Orders</span>
                                                                                </uib-tab-heading>
                                                                            </a>
                                                                        </li>
                                                                        <li class="uib-tab nav-item ng-scope ng-isolate-scope" select="select(tab)" disabled="disabled">
                                                                            <a href="" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">
                                                                                <uib-tab-heading svy-mnemonic="tab.mnemonic" class="ng-scope">
                                                                                    <img ng-hide="tab.imageMediaID == ''" class="">
                                                                                    <span svy-background="model.background" svy-foreground="tab.foreground == null ? model.foreground : tab.foreground" ng-bind="tab.text" class="ng-binding">Order Details</span>
                                                                                </uib-tab-heading>
                                                                            </a>
                                                                        </li>
                                                                       
                                                                    </ul>
                                                                    <div class="tab-content">
                                                                        <div class="tab-pane ng-scope active" uib-tab-content-transclude="tab">
                                                                            <div ng-include="getForm(tab)" sablo-tabseq="1" sablo-tabseq-config="{container: true}" ng-style="getTabsHeight()" class="ng-scope">
                                                                                <svy-formload formname="tabPanels_tab1" class="ng-scope">
                                                                                    <div ng-controller="tabPanels_tab1" data-svy-name="tabPanels_tab1" svy-formstyle="formStyle" svy-layout-update="" svy-form-class-update="" svy-autosave="" class="svy-form ng-scope">
                                                                                        <div ng-style="bodyStyle" class="svy-body">
                                                                                            <div ng-style="layout.svy_lvp_tabPanels_tab1" class="svy-wrapper">
                                                                                                <div id="lipsum">
                                                                                                    <p>
                                                                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis lacinia ante, vitae interdum eros molestie rutrum. Curabitur nec sodales magna, nec gravida massa. Fusce purus lacus, tristique nec tempor sit amet, iaculis ut leo. Etiam a elementum mauris. Nunc sed malesuada est, sed pretium nisi. Aliquam erat volutpat. Quisque commodo risus at ex fringilla, pretium dictum nunc gravida. Maecenas vulputate, justo quis dignissim maximus, libero massa ultrices nibh, vel dictum augue enim quis felis. Vivamus dignissim justo sed nulla scelerisque porttitor. Ut imperdiet id sapien at congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ac porttitor justo. Fusce risus risus, consectetur at nibh elementum, fringilla pharetra quam. Pellentesque sit amet nisi enim. Vestibulum aliquam molestie lectus id volutpat.
                                                                                                    </p>
                                                                                                    <p>
                                                                                                        Vivamus purus enim, tincidunt eu consequat a, rutrum vel sapien. Ut est odio, placerat ac varius et, auctor vel elit. Nullam id risus dui. Sed semper interdum dolor. Mauris vel faucibus lacus. Aenean augue massa, sagittis nec laoreet quis, condimentum nec ipsum. Suspendisse lobortis iaculis hendrerit. Praesent vestibulum lobortis sem, id vehicula ex lacinia vel.
                                                                                                    </p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </svy-formload>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </data-servoydefault-tabpanel>
                                                </div>
                                            </div>
                                        </div>
                                    </svy-formload>
                                </div>
                            </div>
                        </div>
                    </div>
                </data-servoydefault-splitpane>
            </div>



        </article>
        <article class="elements">
            <h2>Checkbox group</h2>
            <div ng-style="layout.fldEventsOptions" class="svy-wrapper">
                <div class="svy-checkgroup input-sm svy-padding-xs">
                    <label class="svy-check-radio ng-scope">
                        <input type="checkbox" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                        <span class="ng-binding">Action</span>
                    </label>
                    <label class="svy-check-radio ng-scope">
                        <input type="checkbox" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                        <span class="ng-binding">Data Change</span>
                    </label>
                    <label class="svy-check-radio ng-scope">
                        <input type="checkbox" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                        <span class="ng-binding">Focus Gained</span>
                    </label>
                    <label class="svy-check-radio ng-scope">
                        <input type="checkbox" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                        <span class="ng-binding">Focus Lost</span>
                    </label>
                    <label class="svy-check-radio ng-scope">
                        <input type="checkbox" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                        <span class="ng-binding">Right-Click</span>
                    </label>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <p>Made with ❤ by <a href="https://www.upwork.com/fl/uidoctor" target="_blank">UIDoctor</a></p>
    </footer>
</body>
</html>
