$vendors: 'webkit', 'moz', 'ms', 'o';
$grey: #efefef;
$greyLight: #fdfdfd;
$green: #9dbf21;
$yellow: #ecda00;
$blue: #37a5e9;
$red: #bd0000;
$skin: #cea280;
$deadGreen: #81a634;
$greenBlue: #006838;
$darkGrey: #666;
$darkBlue: #0b4278;
$borderRadius: 7px;
$fontSize: 14px;
$buttonDepth: 3px;
$animDuration: .1s;