@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  font-family: 'Open Sans', sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Montserrat', sans-serif; }

header {
  height: 100px;
  background: #efefef;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; }
  header img {
    height: 100%; }
  header h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    line-height: 80px;
    font-weight: 200; }

main {
  min-height: calc(100vh - 140px);
  box-sizing: border-box; }
  main article {
    padding: 20px;
    vertical-align: top;
    font-size: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: inline-block;
    width: 30vw;
    max-width: 100%;
    min-width: 480px; }
    main article * {
      font-size: initial; }
    main article h2 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 28px; }
    main article h5 {
      border-top: 1px solid #ccc;
      padding-top: 6px;
      margin-top: 26px;
      font-size: 14px;
      font-weight: 600;
      color: black;
      text-transform: uppercase; }
    main article.elements:nth-child(even) {
      background: #fdfdfd; }
  main code {
    display: block;
    background: #efefef;
    padding: 10px; }

footer {
  height: 40px;
  background: #efefef;
  line-height: 40px; }
  footer p {
    margin: 0;
    color: black;
    font-size: 12px;
    text-align: center; }
    footer p a {
      font-weight: 500;
      color: #9dbf21; }

/** UI Elements **/
.svy-button {
  border: 1px solid #e4e4e4d1;
  background-color: #9dbf21;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-decoration: none;
  outline: 0 !important;
  line-height: 14px;
  font-weight: 600;
  border-radius: 7px;
  box-sizing: border-box;
  margin: 0 20px 20px 0;
  position: relative;
  top: -2px;
  -webkit-transition: 0.15s all ease;
  -moz-transition: 0.15s all ease;
  -ms-transition: 0.15s all ease;
  -o-transition: 0.15s all ease;
  transition: 0.15s all ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0 3px 0 #799419;
  -moz-box-shadow: 0 3px 0 #799419;
  -ms-box-shadow: 0 3px 0 #799419;
  -o-box-shadow: 0 3px 0 #799419;
  box-shadow: 0 3px 0 #799419; }
  .svy-button.tiny {
    padding: 3px 7px; }
    .svy-button.tiny span {
      font-size: 10px; }
  .svy-button.small {
    padding: 5px 10px;
    font-size: 12px; }
    .svy-button.small span {
      font-size: 12px; }
  .svy-button.large {
    padding: 15px 30px; }
  .svy-button.expand {
    display: block;
    width: 100%; }
  .svy-button:hover, .svy-button:focus {
    color: #9dbf21;
    background-color: white;
    border-color: #8ba91d; }
    .svy-button:hover:after, .svy-button:focus:after {
      box-shadow: 0 1px 4px rgba(15, 15, 15, 0.25);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      display: none; }
  .svy-button:active {
    background-color: #799419;
    color: white;
    position: relative;
    top: 3px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: 0.15s all ease;
    -moz-transition: 0.15s all ease;
    -ms-transition: 0.15s all ease;
    -o-transition: 0.15s all ease;
    transition: 0.15s all ease; }
  .svy-button.success {
    background-color: #37a5e9;
    -webkit-box-shadow: 0 3px 0 #178dd6;
    -moz-box-shadow: 0 3px 0 #178dd6;
    -ms-box-shadow: 0 3px 0 #178dd6;
    -o-box-shadow: 0 3px 0 #178dd6;
    box-shadow: 0 3px 0 #178dd6; }
    .svy-button.success:hover, .svy-button.success:focus {
      color: #37a5e9;
      background-color: white;
      border-color: #209be6; }
    .svy-button.success:active {
      background-color: #178dd6;
      color: white; }
  .svy-button.secondary {
    background-color: #0b4278;
    -webkit-box-shadow: 0 3px 0 #072849;
    -moz-box-shadow: 0 3px 0 #072849;
    -ms-box-shadow: 0 3px 0 #072849;
    -o-box-shadow: 0 3px 0 #072849;
    box-shadow: 0 3px 0 #072849; }
    .svy-button.secondary:hover, .svy-button.secondary:focus {
      color: #0b4278;
      background-color: white;
      border-color: #093561; }
    .svy-button.secondary:active {
      color: white;
      background-color: #072849; }
  .svy-button.warning {
    background-color: #ecda00;
    color: black;
    -webkit-box-shadow: 0 3px 0 #d8c700;
    -moz-box-shadow: 0 3px 0 #d8c700;
    -ms-box-shadow: 0 3px 0 #d8c700;
    -o-box-shadow: 0 3px 0 #d8c700;
    box-shadow: 0 3px 0 #d8c700; }
    .svy-button.warning:hover, .svy-button.warning:focus {
      color: #b9ab00;
      background-color: white;
      border-color: #e2d100; }
    .svy-button.warning:active {
      color: black;
      background-color: #d8c700; }
  .svy-button.error {
    background-color: #bd0000;
    -webkit-box-shadow: 0 3px 0 #8a0000;
    -moz-box-shadow: 0 3px 0 #8a0000;
    -ms-box-shadow: 0 3px 0 #8a0000;
    -o-box-shadow: 0 3px 0 #8a0000;
    box-shadow: 0 3px 0 #8a0000; }
    .svy-button.error:hover, .svy-button.error:focus {
      color: #bd0000;
      background-color: white;
      border-color: #a40000; }
    .svy-button.error:active {
      color: white;
      background-color: #8a0000; }
  .svy-button .badge {
    width: 22px;
    height: 22px;
    border-radius: 30px;
    line-height: 19px;
    padding: 0 7px;
    margin: 0;
    vertical-align: middle;
    color: inherit;
    background: #ffffff6e;
    font-size: 12px !important;
    margin-left: 3px; }

.svy-wrapper.expand input, .svy-wrapper.expand select {
  margin: 0 0 20px 0; }
  .svy-wrapper.expand input ~ .svy-button, .svy-wrapper.expand select ~ .svy-button {
    margin: 0px 0 20px 0px; }
.svy-wrapper .ng-isolate-scope {
  max-width: 100%; }
.svy-wrapper .input-group {
  margin-bottom: 10px; }
.svy-wrapper label:not(.svy-check-radio) {
  font-size: 14px;
  font-weight: 500;
  margin: 0 5px 5px 0;
  display: block; }
.svy-wrapper textarea {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 10px;
  text-align: left;
  display: block;
  vertical-align: top;
  outline: 0 !important;
  line-height: 14px;
  font-weight: 500;
  border-radius: 7px;
  box-sizing: border-box;
  line-height: 14px;
  max-width: 100%;
  min-height: 150px;
  width: 100%;
  -webkit-transition: 0.1s all ease;
  -moz-transition: 0.1s all ease;
  -ms-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 40px;
  border: 2px solid #eee;
  flex: 0 0 100%;
  margin-bottom: 15px; }
  .svy-wrapper textarea.error {
    border: 2px solid #d70000; }
  .svy-wrapper textarea.warning {
    border: 2px solid #e2d100; }
  .svy-wrapper textarea:focus {
    box-shadow: 0 1px 4px rgba(15, 15, 15, 0.25);
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    transition: 0.1s all ease;
    border: 2px solid #65baee; }
.svy-wrapper .input-group-addon {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 3px solid #eee;
  border-radius: 4px;
  max-height: 40px;
  min-height: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }
.svy-wrapper input[type=text], .svy-wrapper input[type=email], .svy-wrapper input[type=password] {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 10px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  outline: 0 !important;
  line-height: 14px;
  font-weight: 500;
  border-radius: 7px;
  box-sizing: border-box;
  line-height: 14px;
  max-width: 100%;
  -webkit-transition: 0.1s all ease;
  -moz-transition: 0.1s all ease;
  -ms-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 40px;
  border: 2px solid #eee; }
  .svy-wrapper input[type=text].error, .svy-wrapper input[type=email].error, .svy-wrapper input[type=password].error {
    border: 2px solid #d70000; }
  .svy-wrapper input[type=text].warning, .svy-wrapper input[type=email].warning, .svy-wrapper input[type=password].warning {
    border: 2px solid #e2d100; }
  .svy-wrapper input[type=text]:focus, .svy-wrapper input[type=email]:focus, .svy-wrapper input[type=password]:focus {
    box-shadow: 0 1px 4px rgba(15, 15, 15, 0.25);
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    transition: 0.1s all ease;
    border: 2px solid #65baee; }
.svy-wrapper input ~ .svy-button {
  margin: 0 0 0 10px; }
.svy-wrapper select {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 10px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  outline: 0 !important;
  font-weight: 500;
  border-radius: 7px;
  box-sizing: border-box;
  line-height: 14px;
  min-width: 250px;
  max-width: 100%;
  -webkit-transition: 0.1s all ease;
  -moz-transition: 0.1s all ease;
  -ms-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 40px;
  border: 2px solid #eee;
  margin: 10px 0 0 0; }
  .svy-wrapper select ~ .button, .svy-wrapper .svy-tabpanel > ul.nav-tabs > li > select ~ a {
    margin: 0 0 0 10px; }
  .svy-wrapper select.error {
    border: 2px solid #d70000;
    color: #d70000; }
  .svy-wrapper select.warning {
    border: 2px solid #e2d100; }
  .svy-wrapper select:focus {
    box-shadow: 0 1px 4px rgba(15, 15, 15, 0.25);
    -webkit-transition: 0.1s all ease;
    -moz-transition: 0.1s all ease;
    -ms-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    transition: 0.1s all ease;
    border: 2px solid #65baee; }

.svy-tabpanel > ul.nav-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent; }
  .svy-tabpanel > ul.nav-tabs > li {
    display: inline-block;
    margin-right: 8px; }
    .svy-tabpanel > ul.nav-tabs > li > a {
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 1px;
      position: relative;
      border-radius: 4px 4px 0 0; }
      .svy-tabpanel > ul.nav-tabs > li > a:not(.active) {
        background: #efefef;
        color: black; }
      .svy-tabpanel > ul.nav-tabs > li > a:hover, .svy-tabpanel > ul.nav-tabs > li > a:focus {
        color: #37a5e9 !important;
        background-color: white !important;
        border-color: #209be6 !important; }
        .svy-tabpanel > ul.nav-tabs > li > a:hover:after, .svy-tabpanel > ul.nav-tabs > li > a:focus:after {
          box-shadow: 0 1px 4px rgba(15, 15, 15, 0.25);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          display: none; }
    .svy-tabpanel > ul.nav-tabs > li.active a {
      background-color: #37a5e9;
      color: white;
      position: relative;
      top: 1px;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      -ms-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
      -webkit-transition: 0.15s all ease;
      -moz-transition: 0.15s all ease;
      -ms-transition: 0.15s all ease;
      -o-transition: 0.15s all ease;
      transition: 0.15s all ease; }
      .svy-tabpanel > ul.nav-tabs > li.active a:before {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #178dd6;
        display: block;
        content: '';
        position: absolute;
        bottom: -10px;
        right: -1px; }
.svy-tabpanel .tab-content {
  border: 1px solid #cccccc;
  padding: 30px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  min-height: calc(100vh - 133px);
        /* ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: none;

                &.active {
                    display: block;
                }

                div {
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }*/ }

.rexpert-radioset {
  margin: 0;
  padding: 0;
  height: 100%; }
  .rexpert-radioset label {
    position: relative; }
    .rexpert-radioset label [type='radio'] {
      position: absolute;
      visibility: hidden; }
      .rexpert-radioset label [type='radio']:checked ~ span::before {
        margin-right: 10px;
        border: 12px solid #9dbf21 !important;
        background: #fff; }
    .rexpert-radioset label span {
      padding: 10px 0;
      color: #333333;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.1s linear;
      display: inline-block;
      vertical-align: middle; }
      .rexpert-radioset label span::before {
        display: inline-block;
        content: '' !important;
        font-size: 0;
        border: 6px solid #37a5e9;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        margin-right: 10px;
        transition: all 0.1s linear;
        vertical-align: middle; }
    .rexpert-radioset label:hover span::before {
      border: 6px solid #9dbf21;
      margin-right: 10px; }

.bts-check {
  margin: 0;
  padding: 0;
  height: 100%; }
  .bts-check label {
    position: relative; }
    .bts-check label [type='checkbox'] {
      position: absolute;
      visibility: hidden; }
      .bts-check label [type='checkbox']:checked ~ span::before {
        margin-right: 10px;
        border: 12px solid #9dbf21 !important;
        background: #fff; }
    .bts-check label span {
      padding: 10px 0;
      color: #333333;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.1s linear;
      display: inline-block;
      vertical-align: middle; }
      .bts-check label span::before {
        display: inline-block;
        content: '' !important;
        font-size: 0;
        border: 6px solid #37a5e9;
        height: 24px;
        width: 24px;
        margin-right: 10px;
        transition: all 0.1s linear;
        vertical-align: middle; }
    .bts-check label:hover span::before {
      border: 6px solid #9dbf21;
      margin-right: 10px; }

@media (min-width: 20em) and (max-width: 64.0525em) {
  html, body {
    width: 100%;
    height: 100%; }

  header h1 {
    display: none; }

  main {
    max-width: 100vw; }
    main article {
      display: block;
      width: 100vw;
      min-width: 0;
      max-width: 100vw; }

  .svy-wrapper input, .svy-wrapper select {
    margin: 0 0 20px 0; }
    .svy-wrapper input ~ .svy-button, .svy-wrapper select ~ .svy-button {
      margin: 0px 0 20px 0px; }

  .svy-tabpanel .tab-content {
    margin-top: -2px; }

  .svy-tabpanel > ul.nav-tabs {
    list-style: none;
    padding: 0 0 0px 0;
    margin: 0;
    transition: 0.15s all ease; }
    .svy-tabpanel > ul.nav-tabs li {
      display: block;
      transition: 0.15s all ease;
      width: 100%;
      overflow: hidden; }
      .svy-tabpanel > ul.nav-tabs li a {
        border-radius: 0; }
        .svy-tabpanel > ul.nav-tabs li a.active {
          background-color: #37a5e9;
          color: white;
          bottom: 0;
          -webkit-box-shadow: none !important;
          -moz-box-shadow: none !important;
          -ms-box-shadow: none !important;
          -o-box-shadow: none !important;
          box-shadow: none !important;
          -webkit-transition: 0.15s all ease;
          -moz-transition: 0.15s all ease;
          -ms-transition: 0.15s all ease;
          -o-transition: 0.15s all ease;
          transition: 0.15s all ease;
          z-index: 999999;
          top: initial; }
          .svy-tabpanel > ul.nav-tabs li a.active:before {
            display: none; }
        .svy-tabpanel > ul.nav-tabs li a .tabs-header {
          position: relative;
          transition: 0.15s all ease; } }

/*# sourceMappingURL=app.css.map */
